article {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;

    padding: 1rem;
    border: 2px solid white;
}

article div {
}

h3 {
    display: flex;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0 0;
}

p {
    display: flex;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0 0;
}

img {
    background: white;
    padding: 2rem 10rem;
    max-width: 18rem;
}
