article {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 1rem 1rem 1rem;
    border: 2px solid var(--border-color);
}

article:hover {
    opacity: 50%;
    cursor: pointer;
}
