footer {
    margin-top: 2rem;
}

footer div {
    float: right;
}

a {
    color: var(--color);
    text-decoration: none;
    box-shadow: 0 2px 0 0 var(--box-shadow-color);
}

a:hover {
    box-shadow: none;
}
