header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button {
  outline: none;
  border: none;
  font-size: 1rem;
  font-family: Menlo;
  padding: 0.5rem;
  background: var(--button-color);
  color: var(--button-text-color);
}

header button:hover {
  cursor: pointer;
  background: var(--main-color);
}
